.back-ground{
    background-color: rgba(82, 189, 58, 0.644);
    
  }
  
  
  .data {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
  }
  
  .position {
    position: relative;
    width: 100%;
  }
  
    .App {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75vh;
      
    }
    .carousel-container {
      max-width: 300px;
    }